$width: 300px;
$height: 50px;
$border-radius: 5px;
$disabled-color: #898989;
$selected-color: blue;
$transition-time: 0.5s;

button {
  background: none;
  padding: 0;
  border: none;
}

.my-toolbar {
  margin: 0 auto;
  &__header {
    width: 100%;
    height: $height*2;
    background: #B4F0B6;
    vertical-align: bottom;
    color: white;
    font-size: large;
    text-align: center;
    background-size: 100%;
    transition: all $transition-time;

    &_max-height {
      height: $height*2;
    }
    &_min-height {
      height: $height;
    }
  }
  &__sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: $height;
  }

  &__sticky + .content{
    padding-top: $height;
  }
}
