$width: 300px;
$height: 50px;
$border-radius: 5px;
$disabled-color: #898989;
$selected-color: blue;


button {
  background: none;
  padding: 0;
  border: none;
}

.my-toolbar {
  width: $width;
  margin: 0 auto;
  &__header {
    width: 300px;
    min-height: $height;
    background-size: $width auto;
    background: #B4F0B6 no-repeat;
    vertical-align: bottom;
    color: white;
    font-size: large;
    text-align: center;
    display: table-cell;
    transition: background-color 0.2s;
  }
}
