$slider-width: 200px;
$height: 10px;
$slider-height: 4px;
$load-color: #0fa2f2;
$slider-color: gray;
$circle-color: blue;

.slider {
  height: $slider-height;
  background-color: $slider-color;
  margin: 10px;
  width: $slider-width;

  &__circle {
    border-radius: $height;
    height: 0;
    width: 0;
    border: $height solid $circle-color;

    position: relative;
    top: -12px;
  }

  &__loader {
    width: $height;
    background-color: $load-color;
    height: inherit;
  }
}
