$slider-width: 200px;
$height: 10px;
$slider-height: 2px;

.slider {
  height: 0;
  border: $slider-height solid gray;
  margin: 10px;
  width: $slider-width;

  &__circle {
    border-radius: $height;
    height: 0;
    width: 0;
    border: $height solid blue;

    position: relative;
    top: -$height;
  }
}
