$slider-width: 200px;
$height: 10px;
$slider-height: 4px;
$load-color: #0fa2f2;
$slider-color: gray;
$circle-color: blue;

.slider {
  height: $slider-height;
  padding: 10px;
  width: $slider-width;
  margin-bottom: 10px;

  &__circle {
    border-radius: $height;
    height: 0;
    width: 0;
    border: $height solid $circle-color;
    position: relative;
    top: -16px;
    z-index: 100;
  }
  &__loader {
    width: 0;
    background-color: $load-color;
    height: inherit;
    position: relative;
    z-index: 10;
  }
  &__unloader {
    width: inherit;
    background-color: $slider-color;
    height: inherit;
    position: relative;
    top: -4px;
    z-index: 1;
  }
}
