@import "../normalize";
.toolbar {
  &__container {
    margin: auto 10%;
    width: 80%;
    height: 100%;
  }

  &__logo-container {
    float: left;
    height: 100%;
  }

  &__image {
    float: left;
    position: relative;
    top: 5%;
    height: 90%;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    float: right;

    list-style: none;

    padding: 0;
    margin: 0;
    height: inherit;
    width: 30%;

    color: black;

    & > li {
      display: inline-block;
      & > a:hover, a:visited, a:active {
        color: black;
      }
    }
  }
}


.class-for-toolbar {
  background-image: url('../../assets/image/fon.jpg') !important;
  //background-image: url('https://habrastorage.org/storage/habraeffect/97/4a/974ac76887e9a13b12e4fd97c617208b.jpg') !important;
  background-color: blue !important;
}

