.console {
  position: absolute;
  bottom: 0;
  height: 100px;
  min-width: 90%;
  overflow: scroll;
  border: 1px solid darkgray;
}


.for-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  color: white;
  align-items: center;
  padding: 0;
  margin: 0;
  height: inherit;

  & a:hover, a:visited, a:active {
    color: beige;
  }
}

.image {
  background-image: url('https://twistedsifter.files.wordpress.com/2016/07/dulmen_bornste_waldweg.jpg');
  background-size: auto 90%;
  height: 90%;
  width: 30%;
  background-repeat: no-repeat;
}
