$height: 50px;
$border-radius: 5px;
$disabled-color: #898989;
$selected-color: blue;

.my-tab-header {
  &__item {
    border: 1px solid gray;
    border-bottom: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    height: $height;

    & div {
      margin-left: 10px;
    }

    & p {
      user-select: none;
    }

    &_disabled {
      color: $disabled-color;
    }

    &_selected {
      color: $selected-color;
      border-color: $selected-color;
    }
  }
}

