
.my-tab-header {
  &__item {
    border: 1px solid gray;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px 0 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;

    & div {
      margin-left: 10px;
    }

    & p {
      user-select: none;
      //cursor: none;
    }

    &_disabled {
      color: #898989;
    }

    &_selected {
      color: blue;
      border-color: blue;
    }
  }
}

