//
//:host {
//  margin-top: 10px;
//  border-bottom: 1px solid gray;
//}

button {
  background: none;
  padding: 0;
  border: none;
}

.my-tab-view {
  &__top {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    border-bottom: 1px solid gray;
  }
  &__header{
    border: 1px solid gray;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px 0 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    background-color: white;

    & div {
      margin-left: 10px;
    }

    &_disabled {
      color: #898989;
    }
  }

  &__content {
    padding: 5px 10px 0 10px;
  }
}

ul {
  list-style: none;
}
